<div class="container" [attr.data-aos]="!globals.isIOS() ? 'fade-right' : ''" id="design">
    <div class="header">
        <h1>¿Qué somos?</h1>
        <button (click)="globals.isSidenavVisible = true"><em class="fas fa-bars"></em></button>
    </div>
    <div class="content">
        <hr />
        <h2>Diseño adaptado a tus preferencias</h2>
        <p>Orientamos a nuestros clientes en la elección de los aspectos gráficos para conseguir los mejores resultados.
            <span>Diseños de interfaz personalizados, temáticas, branding y mucho más.</span></p>
    </div>
</div>
