<div class="container" [attr.data-aos]="!globals.isIOS() ? 'fade-right' : ''">
    <div class="header">
        <h1>¿Qué somos?</h1>
        <button (click)="globals.isSidenavVisible = true"><em class="fas fa-bars"></em></button>
    </div>
    <div class="content">
        <hr>
        <h2>Design Services</h2>
        <div class="carousel">
            <div class="slide" [@fade2]="visibleItemState[0]">
                <img src="../../../assets/icons/check_icon.png" alt="fltutter icon">
                <p>Elaboramos a tu gusto interfaces para tu proyecto utilizando recursos de excelente calidad y obteniendo la mejor experiencia y resultados.
                </p>
            </div>
            <div class="slide" [@fade2]="visibleItemState[1]">
                <img src="../../../assets/icons/idcard_icon.png">
                <p>Material de empresa u oficina, adaptamos tu marca donde prefieras. Cuenta con nosotros para hacer que tu marca brille.</p>
            </div>
            <div class="slide" [@fade2]="visibleItemState[2]">
                <img src="../../../assets/icons/pen_icon.png">
                <p>Branding. Diseñamos tu imagen corporativa elaborando una marca, logotipo e icono a tu gusto.</p>
            </div>
        </div>
        <app-scroller [flags]="visibleItemState" [isColumn]="false" class="scroller"></app-scroller>
    </div>
</div>
