@import  url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap')

hr
    position: relative
    float: left
    width: 5.31vw
    margin-top: 1.25vh
    color: white

h1
    position: relative
    margin-left: 15vw
    margin-top: 0
    font-size: 5vh

h2
    font-size: 3vh


p, li
    font-family: 'Comfortaa'
    font-size: 2vh

li
    position: relative
    float: left
    list-style-type: none
    width: 42vw
    margin-left: 3.3vw
    margin-top: 1.5vh
    margin-bottom: 4.72vh
    
.logo
    position: relative
    float: left
    width: 4.22vw
    margin-top: 2vh

.container
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    align-content: flex-start
    height: 100vh
    margin-left: 5.68vw
    color: white
    font-family: 'cocogoose_classic_trialmedium' 
    width: 100%

.designitemscontainer
    width: 54.375vw

.marked
    color: rgb(51, 170, 51)

.left-container
    width: 100%

.brand
    margin-left: 14vh
    font-size: 2vh
    font-family: 'Comfortaa', cursive

.checkicon, .idcardicon, .penicon
    position: relative
    float: left
    width: 5vh
    clear: left
    margin-top: 1.5vh

.header
    margin-bottom: 6.9vh

.subheader
    margin-top: 6.95vh
    margin-bottom: 6.48vh

.description
    width: 66.56vw

.description h2
    margin-bottom: 4.63vh

.designservices
    margin-left: 2.5vw
    margin-bottom: 4.81vh
    margin-top: 5.09vh