@import  url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap')

.logo
    position: relative
    float: left
    width: 4.22vw
    margin-top: 2vh

.container
    position: fixed
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    align-content: flex-start
    height: 100vh
    margin-left: 5.68vw
    color: white
    font-family: 'cocogoose_classic_trialmedium' 
    width: 100vw
    
.marked
    color: rgb(51, 170, 51)

.left-container
    width: 100%

.brand
    margin-left: 14vh
    font-size: 2vh
    font-family: 'Comfortaa', cursive

.fluttericon, .angularicon, .firebaseicon
    position: relative
    float: left
    width: 5vh
    clear: left
    margin-top: 1.5vh

.right-container
    position: absolute
    background-color: rgba(51, 170, 51, .5)
    border-radius: 15vh
    width: 37vw
    height: 10vh
    margin-left: 49vw
    margin-top: 10vh

.young
    height: 15vh
    width: 35.10vw
    margin-left: 2vw

.header
    margin-bottom: 6.9vh

.subheader
    margin-top: 14vh
    margin-bottom: 6.48vh
    margin-right: 55vw

.description
    width: 59.79vw

.description h2
    margin-bottom: 4.63vh

.software
    margin-left: 2.5vw
    margin-bottom: 4.81vh
    margin-top: 5.09vh

hr
    position: relative
    float: left
    width: 5.31vw
    margin-top: 1.25vh
    color: white

h1
    position: relative
    float: left
    margin-left: 15vw
    margin-top: 0
    font-size: 5vh

h2
    font-size: 3vh

a
    float: left
    text-decoration: none
    margin-top: 4vh
    width: 14.5vw

a h1
    font-family: 'Comfortaa', cursive
    color: #ffffff
    font-size: 1.85vh

em  
    font-size: 2.59vh
    color: white

button
    float: left
    background-color: #ffffff00
    border: none
    cursor: pointer
    margin-top: 3.5vh
    margin-left: 15vw

button:focus
    outline: none

p, li
    font-family: 'Comfortaa'
    font-size: 2vh

q
    position: relative
    font-family: 'Raleway', italic
    font-size: 3.5vh

span
    font-weight: bold

li
    position: relative
    float: left
    list-style-type: none
    width: 36vw
    margin-left: 3.3vw
    margin-top: 1.5vh
    margin-bottom: 4.72vh
