<div class="technology container" [@fade]="globals.visibleComponents[1]" id="about-technology">
  <div class="left-container">
    <div class="header">
      <img class="logo" src="assets/images/monograma-blanco.svg" alt="Kiwi standing on oval">
      <h1>DinoByte ¿Qué somos?</h1>
      <a href="/"><h1>Home</h1></a>
      <a href="#team" (click)="goToSection(3)"><h1>Equipo</h1></a>
      <button (click)="globals.isSidenavVisible = true"><em class="fas fa-bars"></em></button>
    </div>
    <div class="subheader">
      <hr>
      <span class="brand">DinoByte S.C. Software development & Graphic Design</span>
    </div>
    <article class="description">
      <h2>Proyectos software a medida</h2>
      <p>Páginas web o aplicaciones móviles, hacemos de nuestra vocación <span class="marked">tu comodidad.</span>
        Diseñamos adaptándonos a las últimas tendencias asegurando tu satisfacción</p>
    </article>
    <article>
      <h2 class="software">Software</h2>
      <ul>
        <img class="fluttericon" src="assets/icons/flutter_icon.png" alt="Flutter icon">
        <li>Flutter. Rápido y flexible con máximo rendimiento en iOS y Android. Programación sin límites
          de diseño.</li>
        <img class="angularicon" src="assets/icons/angular_icon.png" alt="Angular icon">
        <li>Angular 9 para el desarrollo de la web más sencilla hasta tu proyecto más ambicioso.</li>
        <img class="firebaseicon" src="assets/icons/firebase_icon.png" alt="Firebase icon">
        <li>Hosting con certificados SSL y base de datos con escalabilidad ilimitada.</li>
      </ul>
      <div class="right-container">
        <div class="young">
          <q>Dicen que los jóvenes son el futuro, con nosotros puedes comprobarlo.</q>
        </div>
      </div>
    </article>
  </div>
</div>