<div class="left-container">
  <div class="dblogo"></div>
  <h1>DinoByte ¿Qué somos?</h1>
  <article>
    <span>Proyectos software a medida</span>
    <p>Páginas web o aplicaciones móviles, hacemos de nuestra vocación tu comodidad.</p>
    <p>Diseñamos adaptándonos a las últimas tendencias asegurando tu satisfacción</p>
  </article>
  <ul>
    <li>Flutter. Rápido y flexible con máximo rendimiento en iOS y Android. Programación sin límites de diseño.</li>
    <li>Angular 9 para el desarrollo de la web más sencilla hasta tu proyecto más ambicioso.</li>
    <li>Hosting con certificados SSL y base de datos con escalabilidad ilimitada.</li>
  </ul>
</div>
<div class="right-container">
  <div id="young">
    <q>"Dicen que los jóvenes son el futuro, con nosotros puedes comprobarlo."</q>
  </div>
</div>