<div class="container" >
  <div class="left-container">
    <div class="header">
      <div class="headerrow">
        <div class="dblogo" id="about"></div>
        <h1>DinoByte ¿Qué somos?</h1>
      </div>
      <div class="subheaderrow">
        <hr>
        <span class="brand">DinoByte S.C. Software development & Graphic Design</span>
      </div>
    </div>
    <article>
      <h2>Proyectos software a medida</h2>
      <p>Páginas web o aplicaciones móviles, hacemos de nuestra vocación <span class="marked">tu comodidad.</span>
        Diseñamos adaptándonos a las últimas tendencias asegurando tu satisfacción</p>
    </article>
    <article>
      <h2>Software</h2>
      <ul class="technologies">
        <li>Flutter. Rápido y flexible con máximo rendimiento en iOS y Android. Programación sin límites de diseño.</li>
        <li>Angular 9 para el desarrollo de la web más sencilla hasta tu proyecto más ambicioso.</li>
        <li>Hosting con certificados SSL y base de datos con escalabilidad ilimitada.</li>
      </ul>
    </article>
  </div>
  <div class="right-container">
    <div class="young">
      <q>Dicen que los jóvenes son el futuro, con nosotros puedes comprobarlo.</q>
    </div>
  </div>
</div>
