<div class="container" *ngIf="globals.isSidenavVisible" [@move]>
    <a href="#" class="close" (click)="globals.isSidenavVisible = false"></a>
    <div class="first-column">
        <div class="picture"></div>
        <div class="worker-description">
            <p><span>Code</span></p>
            <p id="name">Javier Ucler</p>
        </div>
    </div>
    <div class="square">
        <div class="column second-column">
            <p><span>Rápidos, eficaces</span></p>
        </div>
        <div class="column third-column">
            <p>Soluciona tus dudas con tan solo un click.</p>
        </div>
        <div class="column fourth-column">
            Nuestros paquetes
        </div>
        <div class="column fifth-column">
        </div>
        <div class="column sixth-column">
            <button class="pack">Solicitar pack</button>
            <div class="pack-description">
                <p><span>Paquete T-Rex premium</span></p>
                <p>Otros paquetes disp.</p>
            </div>
        </div>
        <hr>
        <div class="column seventh-column">
            <button id="descripcion" style="font-size: 1.76vh; width: 8.18vw;">Descripción</button>
            <button id="especificaciones" style="font-size: 1.39vh; width: 8.85vw;">Especificaciones</button>
            <button id="reviews" style="font-size: 1.85vh; width: 8.39vw;">Reviews</button>
        </div>
    </div>
</div>