.container
    width: 34.6vw
    height: 100vh
    position: fixed
    display: flex
    flex-direction: column
    right: 0
    font-family: 'Comfortaa'
    background-color: white
    box-shadow: -5px 0px 10px 1px #585858
    z-index: 2

.square
    margin-top: 3vh

.column
    width: 26.51vw
    margin-left: 3.91vw

.close
    position: absolute
    margin-top: 5vh
    margin-left: 4vw
    width: 32px
    height: 32px
    opacity: 0.3

.close:hover
    opacity: 1

.close:before, .close:after
    position: absolute
    left: 15px
    content: ' '
    height: 2vw
    width: 2px
    background-color: #333

.close:before
    transform: rotate(45deg)
  
.close:after
    transform: rotate(-45deg)

.first-column
    margin-top: 3vh
    margin-left: 21.77vw
    font-size: 1.95vh
    display: flex
    align-items: flex-end

.worker-description span
    color: #959595
    font-size: 1.39vh
    margin-left: 1vw

.picture
    position: relative
    float: left
    border-radius: 100%
    height: 70px
    width: 70px
    background-image: url('/assets/images/Javi.jpg')
    background-repeat: no-repeat
    background-size: 200%
    background-position: 53% 25%

.second-column
    margin-top: 2vh
    font-size: 2.59vh
    font-weight: bold
    color: #959595

.third-column
    margin-top: 2.15vh
    font-family: 'cocogoose_classic_trialmedium' 
    font-size: 5vh
    line-height: 1

.fourth-column
    margin-top: 1.78vh
    color: #71B64B
    font-size: 2.69vh
    font-weight: bold

.fifth-column
    align-self: center
    width: 18.98vw
    height: 19.01vh
    margin-top: 6.94vh
    margin-left: 10.53vw
    background-image: url('/assets/images/D&B.png')
    background-size: contain
    background-repeat: no-repeat

.sixth-column
    display: flex
    flex-direction: row
    flex-wrap: wrap
    margin-top: 8.70vh
    font-size: 1.76vh

.sixth-column span
    font-size: 1.94vh
    color: #71B64B

.pack-description
    width: 12.08vw
    height: 6.48vh
    margin-left: 1.30vw
    font-size: 1.76vh
    font-weight: bold

.pack-description p
    margin-top: 0.8vh

.pack
    background-color: #71B64B
    border: none
    border-radius: 5px
    width: 12.91vw
    height: 6.48vh
    text-align: center
    display: inline-block
    font-size: 2.22vh
    font-family: 'Comfortaa'
    font-weight: bold

.seventh-column
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-bottom: 7.22vh

#name
    margin-left: 1vw

hr
    align-self: center
    width: 26.51vw
    margin-top: 5.37vh
    margin-bottom: 4.72vh
    
p
    margin: 0

button
    height: 4.26vh   
    width: 8.5vw 
    border: 1px solid
    border-color: #AFAFAF
    border-radius: 5px
    background-color: white
    text-align: center
    display: inline-block
    font-size: 1.76vh
    font-family: 'Comfortaa'

button:focus
    outline: none
