.intro
    position: relative
    bottom: 22%
    width: 55vw
    height: 85vh
    margin-left: 8%
    display: flex
    flex-direction: column

h1
    font-family: 'cocogoose_classic_trialmedium' 
    color: white
    font-size: 70px
    font-weight: normal
h2
    position: relative
    float: left
    font-family: 'Comfortaa', cursive
    color: #ffffff
    font-weight: normal
    font-size: 16px
    margin-left: 5.1vh
    margin-top: 0

hr
    position: relative
    float: left
    width: 8%
    
.brand
    margin-top: 23vh

