@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap')

html
    scroll-snap-type: both mandatory

html, body
    height: 100%
    width: 100%
    margin: 0
    overflow-y: scroll
    overflow-x: hidden
    background-color: black

body::-webkit-scrollbar
    display: none

.child-component
    scroll-snap-align: center
    scroll-snap-stop: always

@font-face 
    font-family: 'cocogoose_classic_trialXBd'
    src: url('/assets/fonts/cocogoose-classic-extrabold-trial-webfont.woff2') format('woff2'), url('/assets/fonts/cocogoose-classic-extrabold-trial-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'cocogoose_classic_trialmedium'
    src: url('/assets/fonts/cocogoose-classic-medium-trial-webfont.woff2') format('woff2'), url('/assets/fonts/cocogoose-classic-medium-trial-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

