@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap')

html, body
    margin: 0
    overflow: hidden



@font-face 
    font-family: 'cocogoose_classic_trialXBd'
    src: url('/assets/fonts/cocogoose-classic-extrabold-trial-webfont.woff2') format('woff2'), url('/assets/fonts/cocogoose-classic-extrabold-trial-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'cocogoose_classic_trialmedium'
    src: url('/assets/fonts/cocogoose-classic-medium-trial-webfont.woff2') format('woff2'), url('/assets/fonts/cocogoose-classic-medium-trial-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

