<div class="container" id="team" *ngIf="globals.visibleComponents[3]" [@fade]>
  <div class="header">
    <img class="logo" src="assets/images/monograma-blanco.svg" alt="Kiwi standing on oval">
    <h1>Equipo Dinobyte</h1>
    <a href="/"><h1>Home</h1></a>
    <a href="#team" (click)="goToSection(1)"><h1>¿Qué somos?</h1></a>
    <button (click)="globals.isSidenavVisible = true"><em class="fas fa-bars"></em></button>
  </div>
  <div class="subheader">
    <hr>
    <span class="brand">DinoByte S.C. Software development & Graphic Design</span>
  </div>
  <div class="carousel">
    <div class="carousel-view" [@fade2]="visibleItemState[0]">
      <article class="slide">
        <div class="slide-header">
          <div class="image" id="javi"></div>
          <div class="slide-title">
            <h2>Ágil y constante</h2>
            <h3>Javier Ucler</h3>
            <h4><span>CTO, Co-founder</span></h4>
          </div>
        </div>
        <div class="slide-description">¿Tienes problemas con tu página web?, ¿ha quedado obsoleta por un motivo que
          desconoces? No te preocupes ya que nuestro más hábil programador será capaz de reconstruir ese código que
          lleva años sin tocar. Muy capaz de conseguir el máximo rendimiento.
        </div>
        <ul class="slide-info">
          <li><span>CiberSeguridad</span></li>
          <li><span>Desarrollo WEB/ APP</span></li>
          <li><span>Contacto:</span>javier.ucler@dinobyte.es</li>
        </ul>
      </article>
      <article class="slide">
        <div class="slide-header">
          <div class="image" id="jared"></div>
          <div class="slide-title">
            <h2>Maternal y organizado</h2>
            <h3>Jared Dunn</h3>
            <h4><span>COO, "En prácticas"</span></h4>
          </div>
        </div>
        <div class="slide-description">Tierno y agradable, su dialéctica te induce a la más agradable decisión. Desde lo
          más insignificante hasta el peor de los problemas, siempre tiene una solución adecuada al momento. Encargado
          de conducir tu proyecto por el mejor de los caminos, siempre preocupándose por ti.</div>
        <ul class="slide-info">
          <li><span>Barista</span></li>
          <li><span>Jefe dirección empresarial, marketing, recursos humanos</span></li>
          <li><span>Contacto:</span> gerard.f@dinobyte.es</li>
        </ul>
      </article>
    </div>
    <div class="carousel-view" [@fade2]="visibleItemState[1]">
      <article class="slide">
        <div class="slide-header">
          <div class="image" id="skere"></div>
          <div class="slide-title">
            <h2>Rápido y conciso</h2>
            <h3>Esteve Jaime</h3>
            <h4><span>CAA, Co-founder</span></h4>
          </div>
        </div>
        <div class="slide-description">Detrás de esa faceta de adolescente extraviado, encontramos un muchacho muy capaz
          de conseguir todo lo que se proponga. No suele escuchar mucho, ya que está tan concentrado en sus tareas que
          es capaz de lograr cualquier cosa que se proponga de forma MUY rápida.</div>
        <ul class="slide-info">
          <li><span>Autista de la empresa</span></li>
          <li><span>Desarrollo WEB/ APP</span></li>
          <li><span>Contacto:</span> steve.james@dinobyte.es</li>
        </ul>
      </article>
      <article class="slide">
        <div class="slide-header">
          <div class="image" id="plastidecors"></div>
          <div class="slide-title">
            <h2>Creativo y eficaz</h2>
            <h3>Isma-él</h3>
            <h4><span>CDO, Co-founder</span></h4>
          </div>
        </div>
        <div class="slide-description">Alegre y con desbordante iniciativa, su dedicación a la empresa inspira a los
          demás, tan capaz de pintar y diseñar originales interfaces hasta ilustrar libros. Capaz de resolver cualquier
          duda relacionada con el vapeo o programa de adobe, es el mejor diseñador de la empresa. Así que en caso de
          necesitar un rebranding o un tatuaje no dudes en contactarnos.</div>
        <ul class="slide-info">
          <li><span>Pinta y colorea</span></li>
          <li><span>Branding, graphic design, UI/ UX designer</span></li>
          <li><span>Contacto:</span> isma.garcia@dinobyte.es</li>
        </ul>
      </article>
    </div>
    <div class="carousel-view" [@fade2]="visibleItemState[2]">
      <article class="slide">
        <h3>¡Consúltanos!</h3>
        <div class="last-slide.content">
          <p>Echa un vistazo
            Packs para todos los gustos</p>
          <span>Soluciona tus dudas con
            tan solo un click.</span>
        </div>
      </article>
    </div>
  </div>
  <app-scroller [flags]="visibleItemState" [isColumn]="false"></app-scroller>
</div>