#estif
  background-image: url('/../../../assets/images/Teva.jpg')
  background-position: 53% 30%
  background-size: 100%

#isma
  background-image: url('/../../../assets/images/isma.png')
  background-position: 53% 30%
  background-size: 100%

#jared
  background-image: url('/../../../assets/images/Gerard.jpg')
  background-position: 53% 30%
  background-size: 100%

#javi
  background-image: url('/../../../assets/images/Javi.jpg')
  background-position: 53% 30%
  background-size: 100%

#victor
  background-image: url('/../../../assets/images/Victor.jpg')
  background-position: 53% 30%
  background-size: 100%

.container
  position: absolute
  display: flex
  flex-direction: column
  width: 100vw
  height: 100vh
  top: 500vh
  font-family: 'Comfortaa',
  color: white

.header
  display: flex
  flex-direction: row
  justify-content: space-around
  font-size: 6vw
  padding-top: 3vh

.content
  display: flex
  flex-direction: column
  justify-content: space-around
  padding-left: 10vw
  padding-right: 9vw
  font-size: 4vw

.subheader
  display: flex
  flex-direction: row
  justify-content: space-between
  padding-top: 3vh

.column-header
  display: flex
  flex-direction: column
  align-items: flex-start
  width: 40vw

.shadowed
  color: #C2C2C2

.subtitle
  margin: 0
  padding: 0
  font-size: 3.5vw

.columns
  position: relative
  padding-top: 3vh
  padding-bottom: 56vh

.column
  position: absolute

.img
  width: 30vw
  height: 30vw
  border-radius: 100%

.description
  padding-top: 4vh

h1, h2
  font-family: 'cocogoose_classic_trialmedium'

h2
  margin: 0
  padding: 0

button
  background-color: #ffffff00
  border: none
  cursor: pointer
  color: white

button:focus
  outline: none

em
  font-size: 10vw

hr
  width: 80vw
  height: 1px
  background-color: white

span
  color: #71B64B

ul
  margin: 0
  padding-left: 4vw
  padding-top: 4vh

