<div class="container" data-aos="fade-right" id="home">
    <div class="header">
        <img src="../../../assets/images/monograma-blanco.svg">
        <button (click)="globals.isSidenavVisible = true"><em class="fas fa-bars"></em></button>
    </div>
    <div class="content">
        <p><span>A simple way</span> to digitalize yourself, are you ready?</p>
    </div>
    <div class="footer">
        <hr>
        <div class="column-footer">
            <div class="left-column">
                <p>DinoByte S.C.</p>
                <p>Software development</p>
                <p>& Graphic Design</p>
            </div>
            <ul>
                <li>
                    <a class="fas fa-at fa-3x" href="mailto:info@dinobyte.es"></a>
                </li>
                <li>
                    <a class="fab fa-instagram fa-3x" href="https://www.instagram.com/dinobyteofficial/"></a>
                </li>
                <li>
                    <a class="fab fa-linkedin fa-3x" href="https://www.linkedin.com/company/dinobyte/"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
