<div class="header">
  <img src="../../../assets/images/monograma-blanco.svg">
  <button><em class="fas fa-bars"></em></button>
</div>
<div class="content">
  <p><span>A simple way</span> to digitalize yourself, are you ready?</p>
</div>
<div class="footer">
  <hr>
  <div class="column-footer">
    <div class="left-column">
      <p>DinoByte S.C.</p>
      <p>Software development</p>
      <p>& Graphic Design</p>
    </div>
    <ul>
      <li class="fas fa-at fa-3x"></li>
      <li class="fab fa-instagram fa-3x"></li>
      <li class="fab fa-linkedin fa-3x"></li>
    </ul>
  </div>
</div>