.container
  width: 100vw
  height: 100vh

.header
  position: absolute
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  align-content: space-around
  width: 76vw
  padding: 12vw
  color: white

.content
  position: absolute
  display: flex
  flex-direction: row
  align-items: flex-end
  width: 86vw
  height: 16.74vh
  top: 60vh
  padding: 7vw
  padding-bottom: 1vw
  font-size: 11vw
  font-family: 'cocogoose_classic_trialmedium'
  font-weight: bold
  color: white
  line-height: 1.1

.content p
  margin: 0

.footer
  position: absolute
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: flex-end
  padding-top: 3vh
  padding-left: 3vw
  padding-right: 4vw
  top: 83vh
  width: 86vw
  height: 16.74vw
  font-family: 'Comfortaa'
  font-size: 3vw
  color: white

.column-footer
  display: flex
  flex-direction: row
  width: 79vw
  justify-content: space-between

.left-column
  padding-top: 5vh

.left-column p
  margin-top: 0
  margin-bottom: 0

hr
  position: absolute
  align-self: flex-start
  top: 0
  width: 80vw
  height: 1px
  background-color: white

img
  width: 19.57vw
  height: 6.92vh

em
  font-size: 10.04vw
  color: white

button
  background-color: #ffffff00
  border: none
  cursor: pointer

button:focus
  outline: none

span
  color: #71B64B

ul
  display: flex
  flex-direction: row
  list-style-type: none
  padding-top: 4vh

li
  padding-right: 3vw
  color: #71B64B

li:last-child
  padding-right: 0

a
  text-decoration: none
  color: inherit
